#header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 87vh;
}

.header-animation-container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  /* transform: rotate(45deg); */
}

.header-quote {
  display: flex;
  justify-content: center;
}

.header-quote h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.header-quote h2 {
  font-size: 20px;
}

.header-quote h1 {
  display: inline-block;
}

#header-container .arrow-down-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
  cursor: pointer;
}

.arrow-down-button:hover {
  border-radius: 100%;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease-in-out;
}

#header-container .arrow-down-button img {
  width: 50px;
  height: 50px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
