.project-card {
  color: var(--main-color);
  text-decoration: none;
  /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
}

.project-card:visited {
  color: var(--main-color);
}

.project-card-image {
  text-align: start;
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project-card-image:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.project-card-description {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.project-card-logo {
  width: 20%;
  max-width: 50px;
  margin: 0 20px;
}

.project-card-text {
  display: flex;
  flex-direction: column;
}

.project-card-title {
}

.project-card-subtitle {
  color: grey;
}

/* Mobile Styles */

@media only screen and (max-width: 500px) {
  .project-card {
    width: 85%;
    margin: 10% 0;
  }
  .project-card-title {
    font-size: 20px;
  }
  .project-card-logo {
    display: none;
  }
}

/* Tablet Styles */

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .project-card {
    width: 50%;
    min-width: 300px;
    margin: 5% 5%;
  }
  .project-card-title {
    font-size: 24px;
  }
}

/* Desktop Styles */

@media only screen and (min-width: 1000px) {
  .project-card {
    width: 35%;
    min-width: 200px;
    margin: 4% 5%;
  }
  .project-card-title {
    font-size: 24px;
  }
}
