.tags-category h4 {
    margin-bottom: 20px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.tags-list li {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    white-space: nowrap;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .16), 0 0 2px rgba(0, 0, 0, .08);
    /*
        smooth box shadow
        0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    */
}