.section-header {
    position: relative;
    padding-bottom: 20px;
    font-size: 30px;
}

.section-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75px;
    height: 2px;
    background-color: var(--main-color);
}

/* Mobile Styles */

@media only screen and (max-width: 500px) {
    .section-header {
        margin: 25px 0;
    }
}

/* Tablet Styles */

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .section-header {
        margin: 40px 0;
    }
}

/* Desktop Styles */

@media only screen and (min-width: 1000px) {
    .section-header {
        margin: 50px 0;
    }
}